<h1><%= @user.name %>'s Transactions</h1>

<% if @transactions.size > 0 %>
<% @transactions.each do|txn| %>
<!-- NEED TO FILTER THESE FOR THE CURRENT USER -->
<table>
    <tr>
    <td><%= Stock.find(txn.stock_id).symbol %>
    <td><%= txn.quantity %></td>
    </tr>
</table>
<% end %>
<p>So many transactions</p>
<% else %>
<p>No transactions yet</p>
<% end %>